.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon{
  text-align: center;
  color: black;
  padding: 50px;
}

.pokemon-card{
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px black;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  height: max-content ;
  width: 180px;
  margin: 0 auto;
  background: radial-gradient(white , rgb(100, 100, 100));
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

/* temos aqui um tipo de carta */
.pokemon-card.Corpo{
  background: radial-gradient(  rgba() , rgba());
}

.pokemon-card.mente{
  background: radial-gradient(  rgb(82, 0, 177) , rgb(157, 51, 255));
}

.pokemon-card.Sombra{
  background: radial-gradient(  rgb() , rgb());
}

.pokemon-card.natureza{
  background: radial-gradient(  rgb(90, 156, 36) , rgb(167, 255, 2));
}

.pokemon-card.terra{
  background: radial-gradient(  rgb() , rgb());
}

.pokemon-card.agua{
  background: radial-gradient(  rgba(0, 255, 255, 0.945) , rgba(0, 153, 255, 0.911));
}

.pokemon-card.fogo{
  background: radial-gradient( rgb(241, 238, 30) , rgb(255, 185, 34));
}

.pokemon-card.tempestade{
  background: radial-gradient( rgb() , rgb());
}

/**/
.pokemon-container img{
  height: 100px;
  width: 100px;
}

.buttonHome{
  cursor: pointer;
  margin: 15px 5px;
  background-image: url("https://www.ordenhar.com.br/images/botao_voltar.png");
  background-color: transparent;
  border: none;
  background: cover;
  background-position: center;    
  height: 50px ;
  width: 120px ;
  background-size: cover;
}

.buttonForward{
  cursor: pointer;
  margin: 15px 5px;
  background-image: url("https://cdn.create.vista.com/api/media/medium/470899398/stock-vector-back-left-arrow-square-button-yellow-glowing-neon-icon?token=");
  transform: scaleX(-1);
  background-color: transparent;
  border: none;
  background: cover;
  background-position: center;    
  height: 50px ;
  width: 50px ;
  background-size: cover;
}

.buttonBack{
  cursor: pointer;
  margin: 15px 5px;
  background-image: url("https://thumbs.dreamstime.com/b/ma%C3%A7%C3%A3-quadrada-em-um-fundo-branco-6016067.jpg");
  background-color: transparent;
  border: none;
  background: cover;
  background-position: center;    
  height: 50px ;
  width: 50px ;
  background-size: cover;
}