button{
    width: 55px;
    height: 55px;
    margin: 15px 7px 0 7px;
    cursor: pointer;
}

.evolutionBotao1{
    background-image: url('../../public/pokemonbase.png');
    background: cover;
    background-size: cover;
}
.evolutionBotao2{
    background-image: url('../../public/pokemonum.png');
    background: cover;
    background-size: cover;
}
.evolutionBotao3{
    background-image: url('../../public/pokemondois.png');
    background: cover;
    background-size: cover;
}