.titulo{
    color: white;
    text-align: 0;
    border: 10px;
    padding-left: 20%;
    font-size: 17px;
}

.info{
    color: black;
    padding: 20px;
    text-align: center;
    box-align: center;
    height: 1 ;
    width: 300px;
    margin-left: -7.5%;
    background: radial-gradient(white , rgb(100, 100, 100));
    border-radius: 10px;
}

.info img{
    height: 150px;
    width: 300px;
}

body{
    background-image: url("https://i.pinimg.com/736x/94/9a/f6/949af6e6e764976322ea0ca44fb7ad54.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.botao{
    cursor: pointer;
    margin: 15px 5px;
    background-image: url("image/pokeball.png");
    background-color: transparent;
    border: none;
    background: cover;
    background-position: center;    
    height: 81px ;
    width: 80px;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}

.botao:hover{
    background-image: url('https://cdn.pixabay.com/photo/2019/11/18/15/46/pokemon-4635112_640.png');
    height: 90px ;
    width: 80px;
}